.login {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  z-index: 10;
}

.login-toolbar {
  background-color: #FF9800; 
  min-height: 50px;
  max-height:50px;
}

.first-element{
  padding-left: 20px;
}

.login-content {
  margin-bottom: 15px;
  color: white;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
}
  
