 <!-- Page Container -->
  
<div class="w3-container w3-content" style="max-width:1400px;margin-top:80px">    
    <!-- The Grid -->
    <div class="w3-row">
      <!-- Left Column -->
      <div class="w3-col m3" style="margin-left:80px">
        <!-- Profile -->
        <div class="w3-card-2 w3-round w3-white">
          <div class="w3-container">
           <h4 class="w3-center">My Profile</h4>
           <p class="w3-center"><img src="../../assets/images/taimg.jpg" class="w3-circle" style="height:106px;width:106px" alt="Avatar"></p>
           <hr>
           <p><i class="fa fa-pencil fa-fw w3-margin-right w3-text-theme" (click)="changeGpa()"></i> GPA: {{gpa}}</p>
           <p><i class="fa fa-home fa-fw w3-margin-right w3-text-theme"></i> Gainesville, Fl</p>
           <p><i class="fa fa-birthday-cake fa-fw w3-margin-right w3-text-theme"></i> April 1, 1988</p>
          </div>
        </div>
        <br>
        
        <!-- Accordion -->
        <div class="w3-card-2 w3-round">
          <div class="w3-white">
            <button class="w3-button w3-block w3-theme-l1 w3-left-align"><i class="fa fa-circle-o-notch fa-fw w3-margin-right"></i> My Groups</button>
            <div id="Demo1" class="w3-hide w3-container">
              <p>Some text..</p>
            </div>
            <button class="w3-button w3-block w3-theme-l1 w3-left-align"><i class="fa fa-calendar-check-o fa-fw w3-margin-right"></i> My Events</button>
            <div id="Demo2" class="w3-hide w3-container">
              <p>Some other text..</p>
            </div>
            <button class="w3-button w3-block w3-theme-l1 w3-left-align"><i class="fa fa-users fa-fw w3-margin-right"></i> My Photos</button>
            <div id="Demo3" class="w3-hide w3-container">
           <div class="w3-row-padding">
           <br>
             <div class="w3-half">
               <img src="/w3images/lights.jpg" style="width:100%" class="w3-margin-bottom">
             </div>
             <div class="w3-half">
               <img src="/w3images/nature.jpg" style="width:100%" class="w3-margin-bottom">
             </div>
             <div class="w3-half">
               <img src="/w3images/mountains.jpg" style="width:100%" class="w3-margin-bottom">
             </div>
             <div class="w3-half">
               <img src="/w3images/forest.jpg" style="width:100%" class="w3-margin-bottom">
             </div>
             <div class="w3-half">
               <img src="/w3images/nature.jpg" style="width:100%" class="w3-margin-bottom">
             </div>
             <div class="w3-half">
               <img src="/w3images/fjords.jpg" style="width:100%" class="w3-margin-bottom">
             </div>
           </div>
            </div>
          </div>       
        </div>
        </div>
        <!-- New Column -->
        <div class="w3-col m3" style="margin-left:80px">
          <!-- Profile -->
          <div class="w3-card-2 w3-round w3-white">
            <div class="w3-container">
             <h4 class="w3-center" >Enrolled Subjects:</h4>
             <br>
             <p class="w3-center">CAP5771: Intro to Data..</p>
             <p class="w3-center">CEN5035: Software Engg.</p>
             <p class="w3-center">COP5556: Program Langu.</p>
             <hr>
             <p class="w3-center"><button md-button style=" font-weight: bold;" (click)="veiwResume()">View Resume</button></p>
             <p class="w3-center"><button md-button style="font-weight: bold;" (click)="uploadResume()">Update Resume</button></p>
            </div>
          </div>
        </div>

        </div>
        </div>
        <br>