<br>
<div class="wrapper">
    <div class="left-side"></div>
    <div class="middle">
        <md-tab-group>
            <md-tab label="Home">
                <div class="wrapper-2">
                    <div class="left-side-2">
                        <div class="left-side-wrapper">
                            <md-list>
                                <div *ngFor="let course of courses">
                                    <md-card class="course-card" (click)="setCourse(course)"
                                             [ngClass]="{active: courseName === course.name}">
                                        <p>{{course.name}}</p>
                                    </md-card>
                                </div>
                            </md-list>
                        </div>
                    </div>
                    <div class="middle-2">
                        <div class="middle-wrapper">
                            <br>
                            <md-card>
                                <p class="font-bold" style="font-size: medium;">{{courseName}}</p>
                                <br>
                                <div class="row-flex"><p class="font-bold">Professor: &nbsp;</p>
                                    <p>{{profName}}</p></div>

                                <div class="row-flex"><p class="font-bold">Seats: &nbsp; </p>
                                    <p>{{seats}}</p></div>
                                <br>

                                <p class="font-bold">Teaching Assistants:</p>
                                <div *ngFor="let ta of TAs">
                                    <div class="ta-name">
                                        <md-card>
                                            <div class="row-flex" style="justify-content: space-between">
                                                <p>{{ta.FirstName}} {{ta.LastName}}</p>
                                                <md-icon class="icon-details" (click)="removeTA(ta)" cursor>cancel
                                                </md-icon>
                                            </div>
                                        </md-card>
                                    </div>
                                </div>
                            </md-card>
                        </div>
                    </div>
                    <div class="right-side-2"></div>
                </div>
            </md-tab>
            <md-tab label="Students">
                <div class="student-wrapper">
                    <br>
                    <form>
                        <md-form-field>
                            <input class="search-input" name="search-input" mdInput placeholder="Enter name of student"
                                   [(ngModel)]="search">
                        </md-form-field>
                    </form> <br>
                    <md-list>
                        <div *ngFor="let student of getStudents()">
                            <md-card>
                                <div class="row-flex">
                                    <h4 class="student-name" style="flex: 4"
                                       mdTooltip="{{student.FirstName}} {{student.LastName}}"
                                       mdTooltipPosition="above">{{student.FirstName}} {{student.LastName}}</h4>
                                    <p class="student-gpa font-bold" style="flex: 2">GPA: {{student.GPA}}</p>
                                    <button style="flex: 2; justify-content: center;" [ngStyle] = "{'background-color': student.color}"
                                            (click) = "changeStatus(student)" [disabled] = "student.isTA">{{student.allowOrReject}}</button>
                                </div>
                                <p class="font-bold">Courses Most Interested In: </p>
                                <div *ngFor="let course of student.CourseMostInterestedIn">
                                    <p>{{course}}</p>
                                </div>
                            </md-card>
                        </div>
                    </md-list>
                </div>
            </md-tab>
            <md-tab label="Details">
                <div class="wrapper-2">
                    <div class="left-side">
                        <div class="left-side-wrapper">
                            <md-list>
                                <a md-list-item (click)="setLink('home')" [ngClass]="{active: link === 'home'}">Home</a>
                                <a md-list-item (click)="setLink('announcements')"
                                   [ngClass]="{active: link === 'announcements'}">Announcements</a>
                                <a md-list-item (click)="setLink('messages')"
                                   [ngClass]="{active: link === 'messages'}">Messages</a>
                                <a md-list-item (click)="setLink('files')"
                                   [ngClass]="{active: link === 'files'}">Files</a>
                            </md-list>
                        </div>
                    </div>
                    <div class="middle">
                        <div class="middle-wrapper">

                            <div class="Home" *ngIf="link === 'home'">
                                <h4>Recent Announcements</h4>
                                <hr style="border-width: thick">
                                <div *ngFor="let announce of getAnnouncements()">
                                    <p>{{announce}}</p>
                                    <hr>
                                </div>
                                <br><br>

                                <h4>Inbox</h4>
                                <hr style="border-width: thick">
                                <div *ngFor="let msg of getMessages()">
                                    <h5>{{msg.from}}</h5>
                                    <p>{{msg.message}}</p>
                                    <hr>
                                </div>
                                <br><br>

                                <h4>No Files</h4>
                                <hr style="border-width: thick">
                            </div>

                            <div class="Announcements" *ngIf="link === 'announcements'">
                                <h4>Recent Announcements</h4>
                                <hr style="border-width: thick">
                                <div *ngFor="let announce of getAnnouncements()">
                                    <p>{{announce}}</p>
                                    <hr>
                                </div>
                            </div>

                            <div class="Messages" *ngIf="link === 'messages'">
                                <div class="inbox">
                                    <h4>Inbox</h4>
                                    <md-icon mdTooltip="New message" mdTooltipPosition="above" class="new-message"
                                             (click)="newMessage()">add_circle
                                    </md-icon>
                                </div>

                                <hr style="border-width: thick">
                                <div *ngFor="let msg of getMessages()">
                                    <h5>{{msg.from}}</h5>
                                    <p>{{msg.message}}</p>
                                    <hr>
                                </div>

                                <div class="msg-wrapper" *ngIf="newMsgEnabled">
                                    <hr>
                                    <h5>To: </h5>
                                    <div *ngFor="let prof of profs; let i = index">
                                        <md-slide-toggle [(ngModel)] = "prof.checked">{{prof.FirstName}} {{prof.LastName}}</md-slide-toggle>
                                    </div>
                                    <br>
                                    <input class="msg" name="msg-input" mdInput placeholder="Type message"
                                           [(ngModel)]="message"><br><br>
                                    <button class="button" (click)="sendMessage()">Send</button>
                                    <button class="button" (click)="cancel()">Cancel</button>
                                    <br>
                                    <hr>
                                </div>

                                <br><br>
                                <h4>Sent</h4>
                                <hr style="border-width: thick">
                                <div *ngFor="let msg of getSentMessages()">
                                    <h5>{{msg.to}}</h5>
                                    <p>{{msg.message}}</p>
                                    <hr>
                                </div>
                            </div>

                            <div class="Files" *ngIf="link === 'files'">
                                <h4>No files</h4>
                                <hr style="border-width: thick">
                            </div>

                        </div>
                    </div>
                    <div class="right-side"></div>
                </div>
            </md-tab>
        </md-tab-group>
    </div>
    <div class="right-side"></div>
</div>