
.wrapper {
  position: relative;
  padding-top: 1%;
  padding-bottom: 140px;
  bottom: 10%;
  display: flex;
  flex-direction: row;
}

.active {
  background-color: #ff7f00;
}

.left-side {
  flex: 1;
}

.left-side-2{
  flex: 2;
}

.left-side-wrapper {
  padding-left: 10px;
}

.middle {
  flex: 6;
}

.middle-2 {
  flex: 4;
}

.middle-wrapper {
  padding: 10px 5px 20px 60px;
}

.right-side-2 {
  flex: 1;
}

.right-side {
  flex: 1;
}
.wrapper-2{
  display: flex;
  //flex-direction: row;
}

.active {
  background-color: #ff7f00;
}

.course-details{
  display: flex;
  flex-direction: column;
}

.course-card{
  height: 100px;
  text-align: center;
}

.list-details{
  display: flex;
  flex-direction: row;
}

.ta-name{
  font-size: small;
}

.font-bold{
  font-weight: bold
}

.row-flex{
  display: flex;
  flex-direction: row;
}

.icon-details{
  cursor: pointer;
}
.student-wrapper{
  display: flex;
  flex-direction: column;
}

.search-input{
  position: relative;
  width: 100%;

  border: 2px solid #E0E0E0;
  outline: none;
  font: 14px Arial,Helvetica,Sans-serif;
  color: #424242;
  padding: 6px 15px 6px 35px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  //text-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
  //-webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 3px rgba(0, 0, 0, 0) inset;
  //-moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 3px rgba(0, 0, 0, 0) inset;
  //box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 3px rgba(0, 0, 0, 0.2) inset;
  -webkit-transition: all 0.7s ease 0s;
  -moz-transition: all 0.7s ease 0s;
  -o-transition: all 0.7s ease 0s;
  transition: all 0.7s ease 0s;
  margin-top: 10px;
  margin-bottom: 10px;
}

.allow{
  //color: ;
}