.uf{
  top:0;
  left:0;
}

.ufHeader{
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  z-index: 10;
}

.header-toolbar{
  background-color: #285797;
  min-height: 50px;
  max-height: 50px;
}

.header-content{
  padding: 10px 0 20px 20px;
}

.header-name{
  color: #FAFAFA;
}

.footer{
  
    position: fixed;
    bottom: 0;
    background-color: #285797;
    width: 100%;
    height: 10%;
    z-index: 100;
    text-align: center;
  
    p{
      color: #FFFFFF;
      padding: 20px;
    }
  }