.wrapper{
  bottom: 0;
  padding-top: 30px;
  width: 100%;
}

.button{
  background-color: #FFFFFF;
}

.button:hover{
    background-color: #ff7f00;
}

.msg{
  width: 60%;
  border: 1px solid #F0F0F0B0;
  font-size: 16px;
  padding:5px;
}