<md-sidenav-container class="example-container">
  <md-sidenav #sidenav class="example-sidenav" opened="true" disableClose="true" mode="side">
    <nav>
        <ul>
          <li>
          <header class="docs-logo">
          <div class="image-cropper">
          <img src="../../assets/images/taimg.jpg" class="rounded" />
          </div>
          <h1 class="docs-logotype md-heading">Brian Adams</h1>
          </header>
          </li>
          <li>
              <a href="../login/login.component.html">Profile</a>
          </li>  
          <li>
              <a href="../login/login.component.html">Home</a>
          </li> 
      </ul>
    </nav>
      </md-sidenav>
</md-sidenav-container>
