.example-container {
    width: 100%;
    height: 550px; 
  }
  
  .example-sidenav-content {
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
 
  }
  
  .example-sidenav {
    // padding: 20px;
    background-color: #FF9800;  
    width: 14%;
    box-sizing: border-box;
    display: block;
    font-weight: 400;
    line-height: 47px;
    position: relative;
    a{
        color: white;
        text-align: center;
        font-size: 20px;
    }
    li {
        border-bottom-width: 1px;
        border-bottom-style: solid;
        margin: 0;
        padding: 0;
        border-color: rgba(0,0,0,.06);
        color: rgba(0,0,0,.54);
        text-align: center;
    }
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }
  }

  .icon-div {
    // padding: 5px;
    align-items: center;
    margin-top: 20px;
  }
.docs-logotype{
    color: white;
    text-align: center;
    font-weight: 400;
    font-size: 26px;
}
.docs-logo {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.image-cropper {
    width: 100px;
    height: 100px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
}

img {
    display: inline;
    margin: 0 auto;
    height: 100%;
    width: auto;
}

// .example-sidenav-content {
//     margin-left: 240px;
//     margin-right: 0px;
// }

.item-selected{
    font-weight: 600;
    font-size: 24px;
}