<md-sidenav-container class="example-container">
  <md-sidenav #sidenav class="example-sidenav" opened="true" disableClose="true" mode="side">
    <nav>
        <ul ng-init="Home">
          <li>
          <header class="docs-logo">
          <div class="image-cropper">
          <img src="../../assets/images/taimg.jpg" class="rounded" />
          </div>
          <h1 class="docs-logotype md-heading">Brian Adams</h1>
          </header>
          </li>
          <li>
              <a routerlinkactive="item-selected" routerLink="/login">Profile</a>
          </li>  
          <li>
              <a routerlinkactive="item-selected" routerLink="/login">Home</a>
          </li> 
      </ul>
    </nav>
      </md-sidenav>
      <div class="example-sidenav-content">
        <router-outlet></router-outlet>
    </div>
</md-sidenav-container>
