<div class="wrapper">

    <div class="left-side"></div>

    <div class="middle">
        <md-tab-group>
            <md-tab *ngFor="let course of profCourses; let i = index" label="Course {{i + 1}}">
                <div class="wrapper-2">
                    <div class="dashboard" dnd-droppable="true" (onDropSuccess)="student=onItemDrop($event, i)">
                        <br><br>
                        <p class="course-name"><a href="#"><b><u>{{course}}</u></b></a></p><br><br>
                        <p>Teaching Assistants:</p><br>

                        <div class="wrapper-3">
                            <div class="ta">
                                <div *ngFor="let student of getTAs(i)">
                                    <md-card *ngIf="student" class="student-details" dnd-draggable
                                             [dragEnabled]="true"
                                             [dragData]="student" (click)="openDialog()">
                                        <div class="student-info">
                                            <p>
                                                <md-icon class="material-icons">person</md-icon>
                                            </p>
                                            <p style="margin-left:10px;">
                                                <star-rating-comp [size]="'small'" [starType]="'svg'"
                                                                  [rating]="student.interest" [staticColor]="'ok'"
                                                                  [readOnly]="true"></star-rating-comp>
                                            </p>
                                            <p>
                                                <md-icon class="material-icons" (click)="removeTA(student , i)"
                                                         align="right">cancel
                                                </md-icon>
                                            </p>
                                        </div>
                                        <p class="student-name" style="margin-left: 5px;"
                                           mdTooltip="{{student.name}}"
                                           mdTooltipPosition="above">{{student.name}}</p>
                                        <p class="student-gpa" style="margin-left: 5px;">GPA: {{student.gpa}}</p>
                                    </md-card>
                                </div>
                            </div>

                            <div class="icons">
                            <span class="material-icons" mdTooltip="Announcement" mdTooltipPosition="above"><md-icon
                                    class="md-icons">announcement</md-icon></span>
                                <span class="material-icons" mdTooltip="Messages" mdTooltipPosition="above"><md-icon
                                        class="md-icons">message</md-icon></span>
                                <span class="material-icons" mdTooltip="Files" mdTooltipPosition="above"><md-icon
                                        class="md-icons">folder</md-icon></span>
                                <span class="material-icons" mdTooltip="Download" mdTooltipPosition="above"><md-icon
                                        class="md-icons"
                                        [mdMenuTriggerFor]="menu">file_download</md-icon></span>
                                <md-menu #menu="mdMenu">
                                    <button md-menu-item (click)="exportToCSV(i)">to CSV</button>
                                    <button md-menu-item>to JSON</button>
                                </md-menu>
                            </div>
                        </div>
                    </div>

                    <div class="student-list">
                        <form>
                            <md-form-field>
                                <input class="search-input" name="search-input" mdInput placeholder="Search by name"
                                       [(ngModel)]="search">
                            </md-form-field>
                        </form>

                        <md-list>
                            <div *ngFor="let student of getStudents()">
                                <md-card class="student-details" dnd-draggable [dragEnabled]="isAvailable(student)"
                                         [dragData]="student"
                                         [ngStyle]="{backgroundColor: getColor(student)}" (click)="openDialog()">
                                    <div class="student-info">
                                        <p>
                                            <md-icon class="material-icons">person</md-icon>
                                        </p>
                                        <p style="margin-left: 10px;">
                                            <star-rating-comp [starType]="'svg'" [rating]="student.interest"
                                                              [staticColor]="'ok'"
                                                              [readOnly]="true"></star-rating-comp>
                                        </p>
                                    </div>
                                    <p class="student-name" style="margin-left: 5px;" mdTooltip="{{student.name}}"
                                       mdTooltipPosition="above">{{student.name}}</p>
                                    <p class="student-gpa" style="margin-left: 5px;">GPA: {{student.gpa}}</p>
                                </md-card>
                            </div>
                        </md-list>
                    </div>
                </div>
            </md-tab>
        </md-tab-group>
    </div>

    <div class="right-side"></div>
</div>
