
.wrapper{
  position: relative;
  padding-top: 3%;
  padding-bottom: 140px;
  bottom: 10%; 
}

.dashboard{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.student-list{
  padding-bottom: 140px;
  overflow: scroll;
}

.blocks{
  padding:10px 5px 10px 5px;
  //margin:10px 5px 10px 5px;
}

.md-course{
  height: 300px;
  width: 250px;
}

.course-name{
  font-size: 17px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.icons{
  position: absolute;
  bottom: 40px;
  right: 10px;
  padding-right: 20px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  align-content: flex-end;
}

.material-icons{
  padding: 0 10px 0 10px;
}

.md-icons{
  color: #212121;
}

a{
  color: #212121;
}

.student-details{
  width:200px;
  display: flex;
  flex-direction: row;
  padding-bottom: 5px;
  padding-top: 5px;
  margin-bottom: 5px;
  //background-color: #FAFAFA;
}

.student-name{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.fill-space {
  // This fills the remaining space, by using flexbox.
  // Every toolbar row uses a flexbox row layout.
  flex: 1 1 auto;
}

.test-elem{
  top:0;
  padding-left: 20px;
  padding-bottom: 40px;
}

.TA{
  height: 200px;
  position: relative;
  overflow: scroll;
}
