.icons{
    align-self: flex-end;
    padding-right: 20px;
    flex-direction: row;
  }
  .blocks{
    padding:10px 5px 10px 5px;
  }
  
  .material-icons{
    padding: 0 10px 0 10px;
  }
  
  .md-icons{
    color: #212121;
  }
  