<div class="w3-container w3-content" style="max-width:1400px;margin-top:80px">    
  <!-- The Grid -->
  <div class="w3-row">
    <!-- Left Column -->
    <div class="w3-col m3" style="margin-left:80px">
      <!-- Profile -->
      <div class="w3-card-2 w3-round w3-white">
        <div class="w3-container">
         <h3 class="w3-center">COP5556: Program Language Principles</h3>
         <hr>
         <p>New important announcements from Subject to display here</p>
         <p> Gainesville, Fl</p>
         <p> April 1, 1988</p>
        </div>
        
        <div class="icons">
          <span class="material-icons" mdTooltip="Announcement" mdTooltipPosition="above"><md-icon
                  class="md-icons">announcement</md-icon></span>
              <span class="material-icons" mdTooltip="Messages" mdTooltipPosition="above"><md-icon
                      class="md-icons">message</md-icon></span>
              <span class="material-icons" mdTooltip="Files" mdTooltipPosition="above"><md-icon
                      class="md-icons">folder</md-icon></span>
              <span class="material-icons" mdTooltip="Download" mdTooltipPosition="above"><md-icon
                      class="md-icons">file_download</md-icon></span>
          </div>
      </div>
      <br>
      </div>
      </div>
      </div>